:host{
    height: 100%;
    width: 100%;
}

section {
    height: 90%;
    margin-top: 2px;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 10%;
    font-family: 'Lato', sans-serif;
    text-indent: 3ch;
    color: #43a8fa;
    font-weight: 400;
 }

.navigation {
    justify-content: right;
    height: 100%;
}

.navigation-outer {
    display: flex;
    flex-direction: row-reverse;
    min-height: 50px;
    border-bottom: 2px solid red;
    align-items: center;
}
.navigation > a {
    border-radius: 0;
    font-size: larger;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-right: 2ch;
    text-align: center;
    height: 100%;
}

a, a:visited {
    margin-top: 2.5px;
    text-decoration: None;
    height: 25px;
    padding: 0% 1% 1%;
    color: inherit;
}

.navigation > a:hover {
    /* background-color: #6c6d6d; */
    /* box-shadow:  1px 1px 1px 1px rgba(138, 134, 128, 0.836); */
    color: #004ffc;
    border-left: 1mm ridge #004ffc;
}