  <div class="content">
    <div class="welcome-image column-flexed-center">
      <img src="../assets/welcomePhoto.jpeg"
           class="splash-photo"
           loading="lazy" />
    </div>
    <div class="welcome-linktree title-font">
      <h4>Hi, I'm</h4>
      <h1 class="title-font-size">John</h1>
      <h1 class="title-font-size">Pridmore</h1>
      <div class="welcome-menu">
        <h5>Take a look:</h5>
        <nav class="linktree">
          <button class="welcome-btn">Experience</button>
          <button class="welcome-btn">Contact</button>
        </nav>
      </div>
    </div>
  </div>
<!--
   Experience
 -->
<div id="experience">
  <h1 class="experience-title column-flexed-center title-font white">
    Experience
  </h1>
  <div class="experience-list">
    <!--
        Relativity
    -->
    <button class="relativity-experience-card"
       href="#relativity">
      <div id="relativity-experience-one"
           class="no-text-decoration white">
        <header class="project-title title-font">
          <h2 class="head">Relativity</h2>
          <p>Processing | Load | Full-Stack Software Engineer </p>
        </header>
        <div class="card-meta row-flexed-left">
          <p>Current Employment</p>
        </div>
        <div class="card-picture-container">
          <div class="relativity card-picture">
            <img src="../../assets/relativity-logo-white.png"
                 alt="I have worked at Relativity as a software engineer since August 2018"
                 loading="lazy">
          </div>
        </div>
        <div class="project-content">
          <p> Implemented the long sought "Post-Publish Delete" feature. This feature allows clients to keep deduplication in sync after documents have been exported out of the processing engine. Furthermore, I refactored the feature for performance by: executing delete queries in batches of 10,000; eliminated time spent waiting for statistics to be aggregated on deleted documents by reporting asynchronously. With these and other enhancements we were able to bring the time to delete 2k documents down by 3900%</p>
          <p> Implemented a feature that enables clients to re-run the Extract-Transform-Load pipeline with updated settings, allowing for new metadata to be extracted and loaded into relativity easier. </p>
          <p> Enabled calculation of the number of documents related to the given one.</p>
          <p> Updated the functional test framework to be environment-aware: testing environments now clean up debug-resources that could cause noisy neighbor issues and/or potentially prevent full/accurate coverage of the codebase.</p>
          <p> I Was recognized for going above and beyond by handling the majority of the On-Call incidents during my shift unassisted by Level 2 support. Due to this I was promoted to Level 1 Support wherein I will mentor more junior members of the department.</p>
          <p> Eliminated duplicate functional tests code paths covering the Load feature, by a factor of 4. This was accomplished by refactoring duplications of logic into several general template methods that can be re-used.</p>
          <p> Implemented a disposable pattern for databases to ensure they are cleaned up on functional test teardown.</p>
          <p> Extended the nightly functional test pipeline and jobs to run in phases so as to eliminate noisy neighbor issues. Over time the timeouts for different phases have been updated to--to more accurately account for the needs of each feature/phase. Additionally, a timeout was added to the final phase of the nightly pipelines so that we can guarantee a given run doesn't interfere with the next.</p>
          <p> Implemented the ability for end users to query, pivot, and group by the aforementioned API(s) regarding whether or not a given document has been exported.</p>
          <p> Implemented the ability for end users to pivot, group by, and create graphs and widgets on the results of the queries returned from the API(s) mentioned in the previous bullet.</p>
          <p> Increased transparency into the processing engine. Implemented a feature that allowed users to see all of the files extracted and transformed by the engine. Driven by modular apis that allow users to create expressions to narrow down their searches, this API has become the main method by which Relativity queries for document metadata.</p>
          <p> Mentored an Intern through two projects: refactoring functional tests to be more economical in their database usage; developing a script to refactor tests; and implementing a jenkins job to trigger an upgrade of only the processing engine, whereas previously all applications had to be updated.</p>
        </div>
      </div>
      <div id="relativity-experience-two">
        <div class="project-title title-font">
          <h3 class="head">
            Processing | Software Engineer Intern
          </h3>
        </div>
        <div class="card-meta row-flexed-left">
          <p>From May<br />to<br />August 2018</p>
        </div>
        <div class="project-content">
          <p>During my internship in Processing, I developed an API Performance Testing framework.</p>
          <p>Consisted of several nunit test fixtures to automate common performance testing workflows and the assets necessary to deploy and run the tests.</p>
        </div>
      </div>
    </button>
    
    <button href="#rmark"
       id="rmark-bio"
       class="media-card white-border-box">
      <!--
      rMark Bio
  -->
      <header class="project-title title-font">
        <h2 class="head">rMark BIO, LLC </h2>
        <p>Engineering | Software Engineer Intern | Remote from Chicago </p>
      </header>
      <div class="card-picture-container">
        <div class="card-picture">
          <img href="https://rmarkbio.com"
               src="https://rmarkbio.com/wp-content/themes/rmark/assets/logo.svg"
               alt="rMark Bio Logo"
               loading="lazy">
        </div>
      </div>

      <div class="card-meta row-flexed-left"
           aria-label="from january 2017 to may 2017">
        <p>From January<br />to<br />May of 2017</p>
      </div>
      <div class="project-content">
        <p>Built publish/subscription system to allow clients to subscribe to new pharmaceutical publications</p>
        <p>Used RESTful APIs to send and receive messages using google cloud's publication/subscription modules and documented and tested accordingly.</p>
        <p>Formatted production server to take appropriate HTTP calls via NGINX configuration and developed individualized Pub/Sub connections to pipeline specific data to users.</p>
      </div>
    </button>
  </div>
</div>

