    <section class="content">
        <div class="left card" id="about">
            <img  class="image" src="../assets/aboutMe.jpg">
        </div>
        <div class="center card">
            <p>John Pridmore is a Full-Stack Software Engineer working at Relativity (formerly known as kCura) in Chicago, IL.</p>
            <p>At Relativity he works on their in-house Document Processing Engine -- Relativity Processing.</p>
            <p>
                During his final year at DePaul University, he served as the interim Vice President of its Computer Science Society,
                and helped plan the inaugural DemonHacks (DePaul's Hackathon).
            </p>
            <p>Additionally, he studied abroad at Ritsumeikan University in Kyoto, Japan. 
                There he studied Japanese For the N2 and N1 level of the Japanese Language Proficiency Test. He remains conversational in Japanese.
            </p>
            <p> In his free time he enjoys: Rock-Climbing, Reading, Writing, Martial Arts, and Linguistics.
            </p>
        </div>
        <!-- <div class="right card"></div> -->
    </section>