/* You can add global styles to this file, and also import other style files */

:root {
  --code-font-family: 'Consolas', monospace;
  --primary-color: #004ffc;
  --secondary-color: #3F4045;
  /* --secondary-color: #5D737E; */
  --tertiary-color: #5D737E;
  --text-color: #211C20;
  --experience-background-color: #384558;
  --welcome-accent-color: #CCC;
  --welcome-background-color: #0D1D4E;
  --code-background: rgb(48, 48, 48);
  --title-font: 'Lato', sans-serif;
  --subhead-font-size: 1vw;
  --head-font-size: 2vw;
  box-sizing: content-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 0;
}

.flex-row-no-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column-no-wrap {
  display: flex;
  flex-flow: column nowrap;
}

.site {
  height: 100%;
  width: 100%;
}

* {
  transition: all 1s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a>* {
  text-decoration: none;
}

.title-font,
.title-font>* {
  font-family: var(--title-font);
}

.column-flexed-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row-flexed-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.row-flexed-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  cursor: default;
  font-weight: bold;
}

button {
  appearance: inherit;
  border: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: inherit;
  height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: var(--secondary-color);
  margin-left: 0.25vh;
  margin-right: 0.25vh;
  height: 0.25vh;
  width: 100%;
}

.title-hr {
  background-color: white;
  margin-left: 0.25vh;
  margin-right: 0.25vh;
  height: 0.25vh;
  border: none;
}

.white-border-box {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.3);
}

.content-wrapper>* {
  display: grid;
}

button.white-text-underline:hover {
  text-decoration: none;
}

.font-size-1vh {
  font-size: 1vh;
}

.font-size-2vh {
  font-size: 2vh;
}

.font-size-4vh {
  font-size: 4vh;
}

.white-text-underline {
  text-decoration: underline white;
}

.icon>img {
  align-self: center;
}

.center>p,
.card>* {
  margin: 1vw;
}

.no-text-decoration,
.no-text-decoration>* {
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
