<router-outlet>
  <!-- Router Outlet -->
</router-outlet>
<footer id="contact"  class="contact-footer">
  <div class="footer-title">
    <h2 class="footer-title-text">Contact</h2>
  </div>
  <div class="footer-center">
    <div href="#contact-information" class="footer-center-body white-border-box">
      <p>
        The best way to get a hold of me is through LinkedIn and my Email.
      </p>
      <table>
        <thead>
          <tr class="contact-table-header">
            <th>Email</th>
            <th>LinkedIn</th>
          </tr>
        </thead>
        <tr>
          <td>Johnpridmore.lit@gmail.com</td>
          <td>JPrid</td>
        </tr>
      </table>
    </div>
    <div class="contact-card-container">
      <button class="contact-card white-border-box" href="mailto:johnpridmore.lit@gmail.com">
        <div class="icon">
          <img loading="lazy" src="../assets/Gmail.png" />
        </div>
      </button>
      <button class="contact-card white-border-box" href="https://LinkedIn.com/in/JPrid">
        <div class="icon">
          <img id="linked-in" src="../assets/LI-In-Bug.png" alt="https://LinkedIn.com/in/JPrid">
        </div>
      </button>
      <button class="contact-card white-border-box" href="https://Github.com/JPrid">
        <div class="icon" id="github">
          <img src="../assets/GitHub-Mark-32px.png"
               alt="My Github Profile can be found at https://Github.com/JPrid"
               srcset="../assets/GitHub-Mark-32px.png 32w,
                      ../assets/GitHub-Mark-64px.png 64w,
                      ../assets/GitHub-Mark-120px-plus.png 120w"
               sizes="(min-width: 1200) 64px
              60px"
               loading="lazy">
        </div>
      </button>
    </div>
  </div>
</footer>
