<header> 
  <h1>{{header}}</h1>
</header>
<nav class="navigation">
  <a *ngFor="let item of titles" active="selected" [routerLink]="[item]">{{item}}</a>
</nav>
<router-outlet></router-outlet>
<footer>
  <h3>Contact:</h3>
  <a class="icon" href="mailto:johnpridmore.lit@gmail.com">
    <img src="../assets/Gmail.png"/>
  </a>
  <a class="icon" href="https://LinkedIn.com/in/JPrid">
    <img id="linked-in" src="../assets/LI-In-Bug.png" alt="https://LinkedIn.com/in/JPrid" sizes="(max-width:64px)">
  </a>
  <a class="icon" href="https://Github.com/JPrid">
    <img src="../assets/GitHub-Mark-32px.png" alt="https://Github.com/JPrid" sizes="">
  </a>
</footer>