<router-outlet>
  <!-- Router Outlet -->
</router-outlet>
<footer id="contact" class="contact-footer">
  <div class="footer-title">
    <span class="heading-bar"></span><h2 class="footer-title-text">Contact<span class="heading-bar"></span></h2>
  </div>
  <div class="footer-center">
    <a href="#" class="footer-center-body white-border-box">
      <p>The best way to get a hold of me is through LinkedIn (JPrid) and my Email (Johnpridmore.lit@gmail.com)</p>
      <div class="quote-text">
        <blockquote>
          <p>You want my phone number?</p> It’s useless. The best way to contact me is to fill a human skull with acorns and vigorously shake it into the night. I will hear you eventually.
          <p class="quote-footer" cite="">- YungTerra</p>
        </blockquote>
      </div>
    </a>
    <div class="contact-card-container">
      <a class="contact-card white-border-box" href="mailto:johnpridmore.lit@gmail.com">
        <div class="icon">
          <img loading="lazy" src="../assets/Gmail.png" />
        </div>
      </a>
      <a class="contact-card white-border-box" href="https://LinkedIn.com/in/JPrid">
        <div class="icon">
          <img id="linked-in" src="../assets/LI-In-Bug.png" alt="https://LinkedIn.com/in/JPrid">
        </div>
      </a>
      <a class="contact-card white-border-box" href="https://Github.com/JPrid">
        <div class="icon" id="github">
          <img src="../assets/GitHub-Mark-32px.png"
               alt="My Github Profile can be found at https://Github.com/JPrid"
               srcset="../assets/GitHub-Mark-32px.png 32w,
                      ../assets/GitHub-Mark-64px.png 64w,
                      ../assets/GitHub-Mark-120px-plus.png 120w"
               sizes="(min-width: 1200) 64px
              60px"
               loading="lazy">
        </div>
      </a>
    </div>
  </div>
</footer>
