@use "@material/icon-button";
@include icon-button.core-styles;
:host{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* gap: 10px; */
    color: #FCFFFD;
}

:host > * {
    grid-column: 1 / span 12;
}

header > h1 {
    margin-left: 2vh;
    grid-column: 1 / span 3;
}

@media (min-width: 375px) {
    header > h1 {
        grid-column: 1 / span 12;
        align-self: center;
        justify-self: center;
    }
}

header {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    justify-content: flex-start;
    background-color :#02111B;
    padding-left: .5vh;
    padding-right: .5vh;
    width: 100%;
 }
 
.navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    background-color: #02111B;
    font-family: 'Lato', sans-serif;
}

 .navigation > a {
    border-radius: 0;
    font-size: 2vh;
    margin-block-start: 0;
    padding: 1vw 2vw 0 1vw;
    height: 100%;
    text-align: center;
}

.navigation > a:hover, h2:hover {
    filter: brightness(210%);
    background-color: #5D737E;
    border-color: silver;
    border-radius: 1px;
    color:#211C20;
}

footer {
    background-color: #02111B;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

}



footer > h1 {
    margin-left: 1vw;
    margin-bottom: 2vw;
}
footer > a {
    background-color: var(--tertiary-color);
    margin: 1vw 1vw 1vw 1vw
}

a > h2 {
    justify-items: center;
    width: fit-content;
}

.title {
    text-transform: capitalize;
}

button {
    height: 25%;
    vertical-align: middle;
    justify-items: center;
}

a, a:visited {
    margin: auto;
    text-decoration: None;
    color: inherit;
    margin: 0;
}

