:host() {
  display: grid;
  grid-template-areas: "tt ptg";
  font-family: var(--title-font);
}

.position-tag-container {
  list-style-type: none;
  grid-area: ptg;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tag-item {
  /* color: var(--experience-background-color); */
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-radius: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.container-title {
  padding-left: 1.5vw;
}

@media screen and (orientation: portrait) {
  .tag-item {
    padding: 0.25vh 0.25vh;
  }
}

@media screen and (orientation: portrait) {
  @media screen and (max-width: 375px) {
    .tag-item {
      font-size: 1.5vh;
      padding: 1vh 1vw;
      margin: 0.5vh 0.5vw;
    }
     :host() {
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    .tag-item {
      font-size: 1.5vh;
      margin: 0.5vh 0.5vw;
    }
     :host() {
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: 1024px) {
    .tag-item {
      font-size: 1vh;
      height: fit-content;
      padding: 0.5vh 0.5vw;
      margin: 0.2vh 0.2vw;
    }
  }
}

@media screen and (orientation: landscape) {
  @media screen and (min-height: 828px) and (max-height: 1182px) {
    .tag-item {
      font-size: 1.5vh;
      padding: 0.5vh 0.5vw;
    }
  }
  @media screen and (min-height: 1183px) {
    .tag-item {
      font-size: 1.75vh;
    }
  }
}
