:host() {
  display: grid;
  grid-template-areas: "tt ptg";
  font-family: var(--title-font);
}

.position-tag-container {
  list-style-type: none;
  grid-area: ptg;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tag-item {
  background-color: var(--welcome-accent-color);
  color: black;
  font-size: 1vh;
  font-weight: bold;
  border-radius: 5%;
  padding: 0.5vh 0.5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.container-title {
  padding-left: 1.5vw;
}

@media screen and (orientation: portrait) {
  .tag-item {
    font-size: 0.5vh;
    padding: 0.25vh 0.25vh;
  }
}
