<footer id="contact" class="contact-footer">
  <div class="footer-title">
    <h2 class="footer-title-text">Contact</h2>
  </div>
  <div class="footer-center">
    <div id="contact-information" class="footer-center-body white-border-box">
      <p>
        The best way to get a hold of me is through LinkedIn and my Email.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <app-link-card-container id="bottom-contact-card-container" [contacts]="CONTACTS">
    </app-link-card-container>
  </div>
</footer>
