.site {
  width: 100vw;
  height: 100vh;
}

:host() {
  height: 100vh;
}

.contact-card {
  background-color: #ccc;
  padding: 1vw;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.3);
}

.footer-title {
  grid-area: footer-title;
  display: flex;
  background-color: #5D737E;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.contact-card-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 10vh;
  width: 100vw;
}

.icon {
  border-radius: 50%;
  display: flex;
  max-height: 200px;
  width: 200px;
  flex: 0 auto;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

.footer-center {
  width: 100vw;
}

.box-shadow {
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
}

.quote-text {
  font-family: 'Permanent Marker', cursive;
  color: #ccc;
  text-align: justify;
}

.rounded-border {
  border-radius: 0.25vw;
}

:host {
  display: grid;
}

header>h1 {
  margin-left: 2vh;
  grid-column: 1 / span 3;
}

header {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  justify-content: flex-start;
  background-color: #02111B;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  width: 100%;
}

.title {
  text-transform: capitalize;
}

.footer-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.icon>* {
  /* Don't allow contact icons to out size their container */
  max-width: 100%;
}

.contact-table-header {
  border-bottom: 1px solid #FFF;
}

.footer-title-text {
  color: white;
  font-size: 5vh;
}

@supports (grid-area: auto) {
  .contact-footer {
    background-color: #5D737E;
    display: grid;
    grid-template-areas: "footer-title footer-title footer-title" "footer-center footer-center footer-center" "footer-bottom footer-bottom footer-bottom";
    /*grid-auto-rows: minmax(25vh, auto);*/
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
  }
  .contact-card-container {
    align-items: center;
  }
  #bottom-contact-card-container>* {
    grid-area: footer-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
  }
  .footer-bottom {
    grid-area: footer-bottom;
    grid-column: span 3;
  }
  .footer-center-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: 'Roboto Slab', serif;
    font-size: 2.5vh;
    padding: 1vw;
    color: #ccc;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.3);
  }
  .footer-center {
    grid-area: footer-center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .footer-title {
    color: #FFF;
    grid-area: footer-title;
    text-shadow: -4px 4px rgba(0, 0, 0, 0.3);
  }
  @media screen and (min-width: 300px) and (max-width: 699px) {
    .footer-center-body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding-left: 10vw;
      padding-right: 10vw;
      max-width: 100%;
      overflow: scroll;
    }
    .contact-card-container {
      grid-area: footer-bottom;
      margin-top: 0;
      justify-content: space-around;
    }
    .contact-card {
      margin-right: 1vw;
      margin-left: 0.5vw;
      height: 25vw;
      width: 25vw;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }
  /* Medium */
  @media screen and (min-width: 700px) and (max-width: 1499px) {
    .quote-text {
      font-size: 3vh;
    }
    .icon>* {
      /* Don't allow contact icons to out size their container */
      width: 100px;
    }
    .footer-center-body {
      grid-area: footer-center;
    }
    .footer-title-text {
      color: white;
      font-size: 5vh;
    }
    .contact-card-container {
      grid-area: footer-bottom;
      margin-top: 0;
      justify-content: space-around;
    }
    .contact-card {
      margin-right: 1vw;
      margin-left: 0.5vw;
      height: 200px;
      width: 200px;
    }
  }
  /* Large */
  @media screen and (min-width: 1500px) {
    .footer-title {
      grid-area: footer-title;
    }
    .icon>img {
      width: 150px;
    }
    .contact-card-container {
      grid-area: footer-bottom;
      margin-top: 0;
      justify-content: space-around;
    }
    .contact-card-container>div:first-of-type {
      margin-right: 0.5vw;
      margin-left: 0.5vw;
    }
    .contact-card-container>* {
      margin-bottom: 5vh;
    }
    .contact-card {
      height: 10vw;
      width: 10vw;
    }
    .footer-center {
      grid-area: footer-center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
    .footer-center-body {
      max-width: 66vw;
    }
    .footer-title-text {
      color: white;
      font-size: 5vh;
    }
    .quote-text {
      font-size: 2vh;
    }
  }
  /* End Large */
}


/* End Grid-Area support query */
