:root,
.experience-title,
.experience-list,
.list-container {
  color: #FFF;
  background-color: var(--experience-background-color);
}

.experience-list {
  justify-content: center;
  align-items: center;
}

.experience-list,
.project-content {
  display: flex;
  flex-flow: column nowrap;
}

.experience-title {
  max-height: 5vh;
  margin-top: 0;
  padding-top: 1vh;
}

.experience-list>*:first-of-type {
  margin-top: 0;
}

.experience-list>* {
  width: 75vw;
  max-width: 90vw;
  padding: 1vh 1vw;
}

#Relativity {
  box-sizing: content-box;
  background-color: orange;
  min-height: 1vh;
}

.card-meta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.card-meta>* {
  width: 100%;
}

.card-meta>p {
  font-family: 'Roboto Slab', serif;
}

.project-content {
  text-align: start;
  /* padding-right: 2vw; */
  margin-left: 2vw;
  flex-basis: auto;
  font-family: 'Roboto Slab', serif;
}

.project-content>* {
  margin: 0;
  margin-top: 1vh;
}

.card-picture>img {
  max-height: 50px;
  max-width: 90%;
}

.relativity-experience-card {
  padding-bottom: 2vh;
}

.card-picture {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@supports (grid-area: auto) {
  .card-meta {
    grid-area: cm;
    margin-top: 1vh;
  }
  .placeholder {
    grid-area: pp;
  }
  .project-title {
    grid-area: tt;
    padding-left: 1.25vw;
    color: #FFF;
  }
  .project-content {
    grid-area: cc;
  }
  .relativity-experience-card {
    display: grid;
    grid-template: "cm cm tt tt tt tt" auto "pc pc cc cc cc cc" auto "pc pc cc cc cc cc" auto "pc pc cc cc cc cc" auto / 0.3fr 0.3fr 0.3fr 1.2fr 1.2fr 1.2fr;
  }
  @media screen and (orientation: portrait) {
    .project-content {
      line-height: 0.25vh;
    }
    .project-content>p {
      font-size: 1.5vh;
      line-height: 2vh;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 699px) {
    .relativity-experience-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
    .project-content {
      font-size: 1.25vh;
    }
    .project-content>p {
      line-height: 2vh;
    }
    .experience-list>* {
      width: 95vw;
      margin-top: 1vh;
    }
    .list-container,
    .experience-list>*:first-child {
      margin-top: 0;
    }
    #Relativity {
      padding: 10px;
    }
    .tag-container {
      grid-area: tg;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1199px) {
    .card-meta {
      grid-area: cm;
    }
    .project-content {
      font-size: 1vh;
      line-height: 1vh;
    }
    .card-picture-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      grid-area: pc;
      margin-bottom: 1vh;
    }
    #Relativity {
      padding: 0.5vh 0.5vw;
    }
    #rMarkBioLLC {
      margin: 1vh 1vw;
    }
    .card-picture>img {
      width: 90%;
      height: 90%;
    }
    .experience-list {
      padding-left: 5.25vw;
      padding-right: 5.25vw;
      padding-top: 1.25vh;
      line-height: 2.5ch;
      margin-top: 1vh;
    }
    .experience-list>* {
      width: 95vw;
      margin-top: 1vh;
    }
    .experience-list>*:first-child {
      margin-top: 0;
    }
    .card-picture>img {
      min-width: 20vw;
    }
    .relativity-experience-card {
      display: grid;
      grid-template: "cm cm cm tt tt tt" auto "cm cm cm tg tg tg" auto "pc pc pc cc cc cc" auto "pc pc pc cc cc cc" auto "pc pc pc cc cc cc" auto / 0.4fr 0.4fr 0.4fr 1.1fr 1.1fr 1.1fr;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .tag-container {
      grid-area: tg;
    }
  }
  /* Normal Sized Laptop */
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    .list-container {
      height: fit-content;
    }
    .experience-list {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding-top: 1.25vh;
      line-height: 2.5ch;
      padding-bottom: 2vh;
    }
    .card-picture>img {
      max-height: 50px;
    }
    .experience-list>* {
      width: 75vw;
    }
    .media-card {
      margin-top: 1vh;
    }
    .project-content {
      font-size: 1.5vh;
      line-height: 2vh;
    }
    .relativity-experience-card {
      display: grid;
      grid-template: "cm cm cm tt tt tt" auto "pc pc pc tg tg tg" auto "pc pc pc tg tg tg" auto "pc pc pc cc cc cc" auto "pc pc pc cc cc cc" auto / 0.4fr 0.4fr 0.4fr 1.1fr 1.1fr 1.1fr;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 1vw;
    }
    .card-picture-container {
      margin-bottom: 1vh;
    }
    .tag-container {
      grid-area: tg;
    }
  }
  @media screen and (min-width: 1600px) {
    .card-picture>img {
      max-height: 50px;
    }
    .card-meta {
      grid-area: cm;
    }
    .project-title {
      grid-area: tt;
    }
    #Relativity {
      padding: 10px;
    }
    .experience-list>* {
      margin-top: 2.5vh;
    }
    .project-content {
      grid-area: cc;
    }
    #rMarkBioLLC {
      margin: 0.75vh 0.5vw;
    }
    .card-picture-container {
      grid-area: pc;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin-bottom: 1vh;
    }
    .relativity-experience-card {
      display: grid;
      grid-template: "cm cm tt tt tt tt" auto "cm cm tg tg tg tg" auto "pc pc tg tg tg tg" auto "pc pc cc cc cc cc" auto "pc pc cc cc cc cc" auto / 0.4fr 0.4fr 0.4fr 1.1fr 1.1fr 1.1fr;
      margin-left: 1vw;
      margin-bottom: 1vh;
    }
    .tag-container {
      grid-area: tg;
    }
    .project-content {
      font-size: 1.75vh !important;
    }
  }
}
