:host {
    grid-column: 1 / span 12;
    grid-row: 3;
}

/* div */
div.contact-info > a:visited {
    text-decoration: none !important;
}

div.bulleted-list {
    margin-block-start: 1%;
    font-weight: 300;
}

div.contact-info {
    border-left:  2vw solid var(--primary-color);
    margin-block-start: 1%;
    align-content: center;
    text-align: center;
}

div.contact-info:hover {
    background-color: aliceblue;
}

a.bulleted-list:hover, a::selection {
    filter: brightness(98%);
}

/* p */
p.contact-info {
    text-align: center;
    font-weight: 1vw;
}

p.bulleted-list {
    text-align: left justify;
}

h2.contact-info {
    font-size: .5vw;
}
